body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #0f1417;
    color: #f4d1d9;
    font-family: "Roboto Mono", monospace;
}

.title {
    margin: 10px;
    font-family: "Share Tech Mono", monospace;
    font-size: 1.5rem;
    text-align: center;
    background-image: linear-gradient(90deg, #74c69d 30%, #f8961e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pad-tools {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pad {
    margin-bottom: 0.8rem;
    width: 340px;
    height: 340px;
    background-color: white;
    border: 5px solid #6d597a;
    display: flex;
    flex-wrap: wrap;
}

.pad>.grid-cell {
    outline: 1px solid #baadc3;
}

.tools-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 402px;
    gap: 0.8rem;
}

.tools-btns {
    padding: 0 5px;
    width: 80px;
    height: 48px;
    color: #74c69d;
    border: 1px solid #74c69d;
}

.color-box-wrapper {
    width: 5rem;
    height: 3rem;
    box-sizing: border-box;
}

.color-box {
    position: relative;
    appearance: none;
    margin-left: 10px;
    width: 2.3rem;
    height: 2.3rem;
    box-sizing: border-box;
    border: 2px ridge #74c69d;
    cursor: pointer;
}

.color-box::-webkit-color-swatch {
    box-sizing: border-box;
    border: none;
}

.main-color {
    background-color: black;
}

.second-color {
    position: relative;
    top: -1.5rem;
    left: 1.5rem;
    z-index: -1;
    background-color: white;
}

.slider-container {
    margin: 0.8rem 0;
}

.slider {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #f8961e;
}

#grid-slider {
    overflow: hidden;
    width: 130px;
    -webkit-appearance: none;
    background-color: #e7ecef;
    border-radius: 4px;
}

#grid-slider::-webkit-slider-runnable-track {
    height: 4px;
    -webkit-appearance: none;
    color: #f8961e;
}

#grid-slider::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 20px;
    background: #27333a;
    box-shadow: -125px 0 0 125px #f8961e;
}

.options-container {
    margin-bottom: 0.8rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.opt-btns {
    padding: 0 5px;
    width: 30%;
    height: auto;
    padding: 0.6rem 2rem;
    border: 1px solid #f8961e;
    color: #eaac8b;
}

#download {
    color: #4e1f01;
    background-image: linear-gradient(120deg, #e85d04, #f8961e, #eaac8b);
    flex-shrink: 0;
}

/* RIPPLE */

.btn {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background: transparent;
    font-family: "Roboto Mono", monospace;
    border-radius: 3px;
    transition: background-color 400ms;
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.5);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

/* RIPPLE END */

.author {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}

.author>a {
    text-decoration: none;
    color: #74c69d;
}

@media (min-width:768px) {
    .title {
        margin-top: 20px;
    }

    .pad-tools {
        flex-direction: row-reverse;
        position: relative;
        left: -60px;
    }

    .tools-container {
        position: relative;
        left: -50px;
        width: 20%;
        max-width: 170px;
    }

    .pad {
        margin-bottom: 2rem;
        width: 440px;
        height: 440px;
    }

    .options-container {
        width: 455px;
        margin-left: 3rem;
    }
}

@media (min-width:1024px) {
    .title {
        margin-top: 2rem;
        font-size: 2.5rem;
    }

    .pad {
        width: 600px;
        height: 600px;
        margin-bottom: 1rem;
    }

    .slider {
        font-size: 16px;
    }

    #grid-slider {
        width: 250px;
    }

    .slider-container {
        font-size: 16px;
        margin: 0;
    }

    .tools-btns {
        font-size: 16px;
        width: 120px;
        height: 60px;
    }

    .options-container {
        width: 600px;
    }

    .opt-btns {
        font-size: 16px;
        padding: auto 3rem;
        width: 30%;
    }

    .author {
        margin: 0 0 8px;
    }
}