body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.title {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem;
}

.tools-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 10%;
    height: 70vh;
    padding: 1rem 1.5rem;
    gap: 0.8rem;
    outline: 1px solid black
}

.tools-btns {
    width: 80px;
    height: 80px;
}

.pad-container {
    position: relative;
    left: 4%;
    width: 45rem;
    height: 45rem;
    outline: 1px solid black;
}

.options-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 70vh;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    outline: 1px solid black;
}

.opt-btns {
    width: 75%;
    height: 3.5rem;
    padding: 0.6rem 1.75rem;
}

.author {
    text-align: center;
}